/*
    Author:
    Version:
    Last modified time:
    Remarks:
*/

html,body{
    margin: 0px;
    padding: 0px;

}

hr{
    margin: 0 auto;
    width: 90%;
    color: gray;
}

.header_position .header_img{
    margin: 0 auto;
    width: 100%;
    /*width: 400px;*/
}

.top{
    background-color: #007dd4;
}

.header_position{
    position: relative;
}

.header_top{
    width: 100%;
    height: 3rem;
    /*box-sizing: border-box;*/
    background-color: #007dd4;

}

a,a:link,a:visited,a:hover,a:active,a:focus{
    text-decoration: none;
}

.top_left{
    font-size: 1.5rem;
    float: left;
}

.top_left,.top_middle{
    line-height: 3rem;
    color: #ffffff;
}

.top_middle{
    float: bottom;
    font-size: 1.2rem;
    text-align: center;
}

.header_back{
    color: white;
}

.header_img{
    width: 100%;
    height: auto;
}



.article_text{
    text-align: center;
    font-size: 1.5rem;
}

.span{
    color: #ff6d56;
    margin-left: 5px;

}


/*input,label{*/
/*    display: table-cell;*/
/*}*/



.input_border{

    margin: 20px 5px 5px 10px;
    width: 85%;
    height: 2rem;
    border-radius: 5px;
    border-width: 1px;
}

.input_border_address{
    margin: 20px 5px 5px 10px;
    width: 85%;
    height: 4rem;
    border-radius: 5px;
    border-width: 1px;
    resize: none;
}

.form_div{
    color: #3b3b39;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.div_radio{
    margin: 0.5rem;
}

/*.div_more{*/
/*    width: 80%;*/
/*    height: 2rem;*/
/*    margin-left: 5%;*/
/*    border: 0.1rem solid gray;*/
/*    border-radius: 5px;*/
/*}*/

/*.div_more_checkbox{*/
/*    line-height: 2rem;*/
/*    text-align: center;*/

/*}*/

.radio{

    border-radius: 50%;
}

.div_size{
    width: 80%;
}

.footer{
    margin-left: 5% ;
    margin-bottom: 0.8rem;
    font-size: 0.9rem;
    color: dimgray;
}

.div_dropdown_text{

}

.div_dropdown_text2{
    font-size: 0.7rem;
    color: gray;
}

.div_dropdown{
    padding-left: 1rem;
    margin: 0 auto;
}

.select{
    margin-top:0.5rem;
    width: 60%;
    height: 2rem;
    border-radius: 5px;
}

.submit{
    margin: 0 auto;
    width: 90%;
    height: 3rem;
    color: #fff;
    background-color: deepskyblue;
    text-align: center;
    border-width: 0px;
    border-radius: 0.5rem;
    font-size: 1rem;
}
